*{
    margin: 0;
    padding: 0;
    font-family: 'nunito sans';
    margin-top: 5px;
}
/* debut css header */
nav{
    width: 100%;
    margin: 0 auto;

}
nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    width: 15%;
    margin-left: 10px;
    text-align: center;
}
/* fin css header */
h1{
    position: absolute;
    margin-left: 40%;
    display: flex;
    color: white;
    padding: 300px;
}
.banniére{
    background-color: rgb(44, 39, 39);
    opacity: 1;
}
